variables:
  SLURM_job_name: gitlab-ci
  SLURM_account: z19
  SLURM_partition: standard
  SLURM_qos: short


build-cbenchio:
  variables:
    ON_COMPUTE: "FALSE"
  stage: build
  artifacts:
    untracked: true
    paths:
      - build/src/benchio
      - build/test/test_*
  script:
    - mkdir -p build
    - cd build
    - module load PrgEnv-gnu
    - module load cray-hdf5-parallel
    - CXX=CC CC=cc FC=ftn cmake ../cbenchio
    - VERBOSE=1 make -j 4
    - make

run_mpi_test:
  stage: test
  needs: 
    - job: build-cbenchio
      artifacts: true
  
  
  variables:
    ON_COMPUTE: "TRUE"
    SLURM_time: "00:03:00"
    SLURM_nodes: 1
    SLURM_tasks_per_node: 40
    SLURM_exclusive: "TRUE"
  script:
    - pwd
    - module load PrgEnv-gnu
    - module load cray-hdf5-parallel
    - cp examples/mpi.yaml config.yaml
    - mkdir -p data
    - srun build/src/benchio



run_hdf5_test:
  stage: test
  needs: 
    - job: build-cbenchio
      artifacts: true
  
  
  variables:
    ON_COMPUTE: "TRUE"
    SLURM_time: "00:05:00"
    SLURM_nodes: 1
    SLURM_tasks_per_node: 40
    SLURM_exclusive: "TRUE"
  script:
    - pwd
    - module load PrgEnv-gnu
    - module load cray-hdf5-parallel
    - cp examples/hdf5.yaml config.yaml
    - mkdir -p data
    - srun build/src/benchio
  
run_posix_test:
  stage: test
  needs: 
    - job: build-cbenchio
      artifacts: true


  variables:
    ON_COMPUTE: "TRUE"
    SLURM_time: "00:05:00"
    SLURM_nodes: 1
    SLURM_tasks_per_node: 1
    SLURM_exclusive: "TRUE"
  script:
    - pwd
    - module load PrgEnv-gnu
    - module load cray-hdf5-parallel
    - cp examples/posix.yaml config.yaml
    - mkdir -p data
    - srun build/src/benchio

run_unit_tests:
  stage: test
  needs: 
    - job: build-cbenchio
      artifacts: true
  variables:
    ON_COMPUTE: "TRUE"
    SLURM_time: "00:03:00"
    SLURM_nodes: 1
    SLURM_tasks_per_node: 40
    SLURM_exclusive: "TRUE"
  script:
    - pwd
    - module load PrgEnv-gnu
    - module load cray-hdf5-parallel
    - cd build
    - ctest -v