variables:
  SLURM_job_name: gitlab-ci
  SLURM_account: n02-NGARCH
  SLURM_partition: standard
  SLURM_qos: short

.setup_environment:  &setup_environment
  - module load PrgEnv-gnu
  - module load cray-hdf5-parallel
  - module load cray-netcdf-hdf5parallel

build-cbenchio:
  variables:
    ON_COMPUTE: "FALSE"
  stage: build
  artifacts:
    untracked: true
    paths:
      - build/src/benchio
      - build/test/test_*
  script:
    - *setup_environment
    - mkdir -p build
    - cd build

    - CXX=CC CC=cc FC=ftn cmake ../cbenchio
    - VERBOSE=1 make -j 4
    - make


integration_tests:
  variables:
    ON_COMPUTE: "FALSE"
  when: manual
  needs: 
    - job: build-cbenchio
      artifacts: true
  script:
    - echo "Run integration tests" 

run_integration_test:
  stage: test
  needs: 
    - job: build-cbenchio
      artifacts: true
    - job: integration_tests
  
  
  variables:
    ON_COMPUTE: "TRUE"
    SLURM_time: "00:05:00"
    SLURM_nodes: 1
    SLURM_tasks_per_node: 40
    SLURM_exclusive: "TRUE"
  
  parallel:
    matrix: 
      - CONFIG_FILE: ["mpi.yaml", "hdf5.yaml","netcdf.yaml","posix.yaml","posixDirect.yaml","posixStrided.yaml","posixLockAhead.yaml"]
  script:
    - *setup_environment
    - cp examples/$CONFIG_FILE config.yaml
    - mkdir -p data
    - srun build/src/benchio


run_unit_tests:
  stage: test
  needs: 
    - job: build-cbenchio
      artifacts: true
  variables:
    ON_COMPUTE: "TRUE"
    SLURM_time: "00:04:00"
    SLURM_nodes: 1
    SLURM_tasks_per_node: 64
    SLURM_exclusive: "TRUE"
  script:
    - pwd
    - *setup_environment
    - cd build
    - ctest -VV